apiVersion: apps/v1
kind: Deployment
metadata:
  name: java-gradle-app
  namespace: java-app
  labels:
    app: java-gradle-app
    version: v2.0
spec:
  replicas: 2
  selector:
    matchLabels:
      app: java-gradle-app
  template:
    metadata:
      labels:
        app: java-gradle-app
        version: v2.0
    spec:
      containers:
      - name: java-app
        # <-- replace this image if you want another tag
        image: us-central1-docker.pkg.dev/planar-door-476510-m1/java-app/java-app:v1.0-6
        ports:
        - containerPort: 8080
        envFrom:
        - configMapRef:
            name: app-config
        resources:
          requests:
            cpu: "500m"
            memory: "512Mi"
          limits:
            cpu: "1000m"
            memory: "1Gi"
        livenessProbe:
          httpGet:
            path: /
            port: 8080
          initialDelaySeconds: 30
          periodSeconds: 10
          timeoutSeconds: 5
          failureThreshold: 3
        readinessProbe:
          httpGet:
            path: /
            port: 8080
          initialDelaySeconds: 5
          periodSeconds: 5
          timeoutSeconds: 3
          failureThreshold: 3
        imagePullPolicy: Always
