apiVersion: apps/v1
kind: Deployment
metadata:
  name: java-gradle-app
  namespace: java-app
  labels:
    app: java-gradle-app
spec:
  replicas: 3
  selector:
    matchLabels:
      app: java-gradle-app
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
  minReadySeconds: 10
  template:
    metadata:
      labels:
        app: java-gradle-app
    spec:
      containers:
      - name: java-app
        image: us-central1-docker.pkg.dev/planar-door-476510-m1/java-app/java-app:latest
        ports:
        - containerPort: 8080
        env:
        - name: APP_VERSION
          value: "v1.0"
        resources:
          requests:
            memory: "256Mi"
            cpu: "250m"
          limits:
            memory: "512Mi"
            cpu: "500m"
        readinessProbe:
          httpGet:
            path: /actuator/health
            port: 8080
          initialDelaySeconds: 30
          periodSeconds: 10
        livenessProbe:
          httpGet:
            path: /actuator/health
            port: 8080
          initialDelaySeconds: 45
          periodSeconds: 15