apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: java-app-ingress
  namespace: java-app
  annotations:
    kubernetes.io/ingress.class: "gce"
    networking.gke.io/managed-certificates: java-app-certificate
spec:
  defaultBackend:
    service:
      name: java-gradle-service
      port:
        number: 80
